<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%> | Ideologies</title>
    <link rel="icon" type="image/x-icon" href="<%= icon %>">
    <link rel="stylesheet" href="<%= css %>">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet"> 


    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= icon %>" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ideologies website" />

    <meta name="theme-color" content="#007cb9">
</head>